<html>
  <head>
    <title>SemNet</title>
    <style>
    .link {
      stroke: #000
      stroke-width: 1
    }
    </style>
  </head>
  <body>
    <form id="sentence_form" action="/parse" method="POST">
      <input type="text" name="sentence" placeholder="Type a sentence..." />
    </form>
    <!--svg id="semnet-graph"></svg-->
    <div id="semnet-graph-canvas"></div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
